/* Booked Appointments
------------------------------------------------------------------------------------ */
body table.booked-calendar th .monthName a {
	color: rgba(255, 255, 255, 0.75);
}

body table.booked-calendar th .monthName a:hover {
	color: #ffffff;
}

body table.booked-calendar tr:last-of-type td {
	border-bottom-color: #ddd !important;
}

body div.booked-calendar-wrap div.booked-calendar{
	border-radius: 0;
}

body .booked-calendar button, body .booked-modal input[type=submit],
body .booked-modal button{
	border-radius: 10em;
}

body .booked-modal input[type=submit].button-primary{
	transition: .3s ease-in all;
}

body .booked-modal input[type=submit], 
body .booked-modal button,
body .booked-calendar button{
	line-height: inherit;
}

body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col .date:hover,
body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.prev-date.today .date{
	background: #050f36!important;
	color: #fff!important;
}

body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.today.prev-date:hover .date span,
body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.prev-date.today .date span,
body div.booked-calendar .bc-col .date span{
	color: inherit!important;
	background: inherit!important;
}

body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col .date{
	-webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.today .date span{
	box-shadow: unset!important;
}

body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.week .bc-col.active .date,
body div.booked-calendar-wrap div.booked-calendar .bc-body .bc-row.entryBlock{
	background: #EEF7FD;
}

body div.booked-calendar-wrap div.booked-calendar .bc-head .bc-row .bc-col .monthName{
	font-size: 14px;
}

body div.booked-calendar-wrap div.booked-calendar .bc-head .bc-row .bc-col .monthName a,
body .booked-appt-list .timeslot .spots-available{
	font-size: 12px;
}

body .booked-modal button.cancel,
body .booked-modal input[type=submit].button-primary{
	color: #fff!important;
	background: #050f36!important;
	border-color: #050f36!important;
}

body .booked-modal button.cancel:hover,
body .booked-modal input[type=submit].button-primary:hover{
	color: #fff!important;
	background: #bc1834!important;
	border-color: #bc1834!important;
}